*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color:#FFE4C4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  overflow: hidden; /*oculta la barra*/

}
img{/*imagen del logo de Inspirate centrada*/
    display: block;
    margin: 0 auto;
}
h3{
    font-family: Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    text-align: center;
    color:#333;
}


.botonagregar{
  width: 60%;
  margin-top: 20px;
  text-align: center;
  background-color: #00BFFF;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.correo{
    color:#FFFDD0
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    border: 0px solid black;
    padding: 12px 27px;
    margin: 8px;
    cursor: pointer;
    background-color: #87CEEB;
    transition: all 0.3s ease;
  }
  
  .button-container a:hover {
    background-color: #4682B4;
  }

.pie {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%; /*ancho del footer*/
    height:14vh;
    background-color: #999;
    color: white;
    padding: 1.2rem;
    float: left;
 
 }
 .footer-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-top: auto;
   padding-bottom:auto;
 }
 
 .contact-us{
   width: 50%; /* ajustar el ancho según el espacio restante */
   color: #fff;
   display: flex;
   align-items: center; /* alinear verticalmente */
 }
 
 .social-media{
   width: 50%;
   display: flex;
   justify-content:flex-end;
 }
 
 .social-media-icon{
   display: inline-block;
   margin-left: 17px;
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
   border-radius:51%;
   text-align: center;
   color:#fff;
 }
 
 .social-media-icon:hover{
   background:#87CEEB ;
   color: #000; 
 }
 
 .social-media-icon i{
   font-size: 28px;
   line-height: 40px;
 }
 
 a{
    text-decoration:none;
 }

 .construyendo{
  display: inline;
  float: left;
  margin-right:8px;

 }

 .organizacion{
  display: inline;
  float: right;
 }

 #seccion-principal{
  display: flex;
  flex-direction: column;
  position: relative;
  top:0.5rem;
  padding:25px ;
 }

 .logo{
margin: 0 auto;
margin-top: 3rem;
margin-bottom: 1.4rem;

 }

 /* Desktop */
@media screen and (min-width: 1600px) {
  /* Estilos para desktop */
  #seccion-principal{
    top:23.5rem;
}
.logo{
  position: relative;
  top:-2rem;
  
}

h3{
  position: relative;
  top:22rem;
  font-size: xx-large;
}
}

@media screen and (min-width:1280px)  {
  #seccion-principal{
    top:-3.5rem;
}
.logo{
  position: relative;
  bottom:2rem;
  border:1px solid red;
}

h3{
  position: relative;
  top:-2.5rem;
  font-size: x-large;
}
}




/* Mobile */
@media screen and (max-width: 767px) {
  /* Estilos para móvil */
  #seccion-principal{
    top:-5.5rem;
}
.logo{
  position: relative;
  top:-2.6rem;
}

h3{
  position: relative;
  top:-3.6rem;
  font-size: smaller;
}


}