*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color:#FFE4C4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  overflow: hidden; /*oculta la barra*/

}
img{/*imagen del logo de Inspirate centrada*/
    display: block;
    margin: 0 auto;
}
h3{
    font-family: Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    text-align: center;
    color:#333;
}


.botonagregar{
  width: 60%;
  margin-top: 20px;
  text-align: center;
  background-color: #00BFFF;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.correo{
    color:#FFFDD0
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid black;
    padding: 20px 50px;
    margin: 18px;
    cursor: pointer;
    background-color: #87CEEB;
    transition: all 0.3s ease;
  }
  
  .button-container a:hover {
    background-color: #4682B4;
  }

.pie {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; /*ancho del footer*/
    background-color: #999;
    color: white;
    padding: 1.2rem;
    float: left;
 }
 .footer-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-top: auto;
   padding-bottom:auto;
 }
 
 .contact-us{
   width: 50%; /* ajustar el ancho según el espacio restante */
   color: #fff;
   display: flex;
   align-items: center; /* alinear verticalmente */
 }
 
 .social-media{
   width: 50%;
   display: flex;
   justify-content:flex-end;
 }
 
 .social-media-icon{
   display: inline-block;
   margin-left: 17px;
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
   border-radius:51%;
   text-align: center;
   color:#fff;
 }
 
 .social-media-icon:hover{
   background:#87CEEB ;
   color: #000; 
 }
 
 .social-media-icon i{
   font-size: 28px;
   line-height: 40px;
 }
 
 a{
    text-decoration:none;
 }